@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Fontfabric - MullerThin.otf") format("truetype"),
}
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Fontfabric - MullerRegular.otf") format("truetype"),
}
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Fontfabric - MullerBold.otf") format("truetype"),
}
@font-face {
  font-family: 'Muller';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Fontfabric - MullerBoldItalic.otf") format("truetype"),
}
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Fontfabric - MullerBold.otf") format("truetype"),
}
@font-face {
  font-family: 'Muller';
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/Fontfabric - MullerBoldItalic.otf") format("truetype"),
}
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Fontfabric - MullerBlack.otf") format("truetype"),
}
@font-face {
  font-family: 'Muller';
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/Fontfabric - MullerBlackItalic.otf") format("truetype"),
}
@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir Next.ttf") format("truetype"),
}
